*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 70px;
}



.logo img{
    width:200px;
    cursor: pointer;
}
.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.btn-secondary button {
    padding: 20px 40px;
    border: 1px solid #000;
    background-color: inherit;
}

.btn-secondary button:hover {
    background-color: mediumspringgreen;
    cursor: pointer;
    transition: 0.7s;
}
.header-info h1{
    padding-bottom: 50px ;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
    text-align: left;
}
.textOne-color{
    color : deepskyblue;
}
.textTwo-color{
    color:deepskyblue;
}

.container{
    display: flex;
    margin-top:30px;
    height: 520px;

}
.header-info{
    margin-right: 350px;
}
.header-info h1{
    margin-right: 70px;
}
body{
    padding-right: 20px;
    padding-left: 20px;
}
.header-image{
    margin-bottom: 250px;
}
.callToAction{
    display:flex;
    padding:20px;
    justify-content: space-evenly;
}
.primary-button{
    color:inherit;
    width: 182px;
    height: 62px;
    border: none;
    background-color: #2995E2;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
    margin-left: -190px;
}
.callToAction-text{
    background-color: inherit;
    color: black;
    border:1px solid white;
    height: 50px;
    width: 150px;
}
.Story-btn {
    transform: translateY(0px);
    background-color: inherit;
    border-color: whitesmoke;
    margin-left: 0;
}
.about-us h1{
    font-family: 'Ubuntu', sans-serif;
    transform: translateY(-5px);
    text-align: center;
}
.about-us p{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 2px;
    line-height: 40px;
}
.sun{
    margin-left: -250px;
}
.tents{
    float: unset;
    margin-right: 300px;
    margin-top: 50px;
}
.section-1-title{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: #2995E2;
    font-size: 40px ;
}
.section-1-subtitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.section-1-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    bottom: 0;
}
.subtext1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
}
.image1{
    position: relative;
    bottom:70px;
}
.sec1-btn{
    transform: translateY(-160px);
    width: 182px;
    height: 62px;
    background-color: #2995E2;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
}
.section-2-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    bottom: 0;
}
.section-2-subtitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
}
.image2{
    position: relative;
    bottom:120px;
}
.sec2-btn{
    width: 182px;
    height: 62px;
    background-color: #2995E2;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
    float:right;
    transform: translateY(-190px);
    margin-right: 250px;

}



